.venv
results/output.xml
results/log.html
results/report.html
resources/cloudCredentialsLOCAL.robot
**/**/__pycache__/
results/*
.DS_Store
.pabotsuitenames
log.html
output.xml
pabot_results/
report.html
